// Colors
$red: #dc3232;
$blue: #007cba;
$text-muted: #555d66;
$grey: #f8f9fa;
$black: #222;
$green: #198754;

// Screen sizes
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

/*------------------------------------------------------------------------*/
/* General */
/*------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding:0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:before {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    &:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    &:focus {
        outline: 0;
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

main {
    p {
        a {
            text-decoration: underline;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

h1 {
    font-size: 56px;
    
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    @media (min-width: $large) {
        font-size: 25px;
    }
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $black;
    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    all: unset;
    outline: revert;
    text-align: center;
    padding: 12px 30px;
    cursor: pointer;
    border: 2px solid #EE8E1D;
    border-radius: 13px;
    background-color: #EE8E1D;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    &.btn-light {
        margin-left: 25px;
        border: 2px solid #757676;
        background-color: #fff;
        color: $black;
        &:hover {
            background-color: $black;
            border: 2px solid $black;
            color: #fff;
        }
    }
    &.w-100 {
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media (min-width: $medium) {
        max-width: 720px;
    }
    @media (min-width: $large) {
        max-width: 960px;
        padding: 0;
    }
    @media (min-width: $extra-large) {
        max-width: 1140px;
    }
}

.loader {
    width: 20px;
    height: 20px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*------------------------------------------------------------------------*/
/* Components */
/*------------------------------------------------------------------------*/
form {
    .columns-2 {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 30px;
        row-gap: 25px;
        margin-bottom: 25px;
    }
    .form-group {
        margin-bottom: 25px;
    }
    label {
        margin-bottom: 8px;
        font-size: 16px;
        display: block;
    }
    .required {
        color: $red !important;
    }
    .form-control, .form-select {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 15px;
        height: 45px;
        padding: 0 15px;
        width: 100%;
        color: #4c4c4c;
    }
    .form-select {
        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 1em;
    }
    select {
        color: #4c4c4c;
    }
    .form-text, .form-error {
        font-size: 13px;
        color: $text-muted;
        margin-top: 5px;
    }
    .form-error {
        color: $red;
    }
    .form-section {
        margin-top: 50px;
        .form-section-title {
            font-size: 17px;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
    }
    .btn {
        display: flex;
        align-items: center;
        .loader {
            margin-left: 10px;
            width: 17px;
            height: 17px;
        }
    }
    @media(min-width: $large) {
        .columns-2 {
            grid-template-columns: 1fr 1fr;
        }
    }
}

/*------------------------------------------------------------------------*/
/* Home */
/*------------------------------------------------------------------------*/
/* mobile styles*/
header {
    background-color: white;
    padding: 20px;
    color: white;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .logo {
            img {
                max-width: 50%;
                height: auto;
                margin-top: 5px;
            }
        }
        
        ul {
            list-style: none;
            display: block;
            margin: 0;
            font-size: 16px;
            font-weight: 600;
    
            li {
                margin-right: 14px;
                a {
                    text-decoration: none;
                    color: $black;
                }
            }
        }
    }
    @media(min-width: $large) {
        background-color: #fff;
        padding: 20px;
        color: white;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                img {
                    max-width: 90%;
                    height: auto;
                    margin-top: 5px;
                }
            }

            ul {
                list-style: none;
                display: flex;
                margin: 0;
                font-size: 20px;
                font-weight: 600;
                li {
                    margin-right: 70px;
                    a {
                        text-decoration: none;
                        color: $black;
        
                        &:hover {
                        text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
   

.container {
    &.hero-section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
    }

    .section-1 {
        width: 100%;
        padding-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        

        h1 {
            font-size: 40px;
            margin-bottom: 20px;
        }

        p {
            font-size: 19px;
            color: #333;
            margin-bottom: 35px;
        }
    }

    .section-2 {
        width: 100%;
        padding-top: 90px;
        margin-right: auto;
        margin-left: auto;
        grid-row-start: 1;

        .image-container {
             position: relative;

            img {
                border-radius: 30px;
                width: 100%;
                z-index: 1;
            }
            .image-1 {
                position: absolute;
                left: -9px;
                bottom: 0;
                width: 144px;
                border: 10px solid white;
                z-index: 2;
            }
            .image-2-container {
                padding-left: 40px;
                padding-right: 40px;
            }
            .image-3 {
                position: absolute;
                top: 0;
                right: 0;
                width: 100px;
                border: 10px solid white;
                z-index: 2;
            }

            
        }

    }
    @media(min-width: $large) { 
       
        &.hero-section {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 100px;
            justify-content: space-between;
            padding-top: 50px;
            margin-right: auto;
            margin-left: auto;
        }
    
        .section-1 {
            width: 100%;
            padding: 0;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            grid-row-start: 1;

            h1 {
                font-size: 56px;
                margin-bottom: 20px;
            }

            
            p {
                font-size: 18px;
                color: #333;
                margin-bottom: 35px;
            }
        }

        .section-2 {
            width: 100%;
            padding: 0;
            margin-right: auto;
            margin-left: auto;
            position: relative;

            .image-container {
                position: relative;

                img {
                border-radius: 30px;
                width: 100%;
                z-index: 1;
                }
                .image-1 {
                    position: absolute;
                    left: -25px;
                    bottom: 0;
                    width: 190px;
                    border: 10px solid white;
                    z-index: 2;
                }
                .image-2-container {
                    padding-left: 40px;
                    padding-right: 40px;
                }
                .image-3 {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 130px;
                    border: 10px solid white;
                    z-index: 2;
                }
            }
            
        }   
    }
    


}

  